/*
 * @Description: 秋季主题(菊花)
 * @Author: linpan(45650368@qq.com)
 * @Date: 2022-08-31 14:43:30
 * @LastEditors: linp linp@epsoft.com.cn
 * @LastEditTime: 2022-09-06 10:41:55
 * @WebSite: https://vusui.com
 * @Copyright: 2017-present The Vusui Authors
 * @Readme: 开源不易，且用且珍惜！
 */
@use '../variable' as *;

// 需要加上html为前缀，否则不生效
html.autumn {
  color-scheme: autumn;

  $vus-color-primary: #d8ad08;
  $vus-color-primary-light-3: #ebca4a;
  $vus-color-primary-light-5: #f1d667;
  $vus-color-primary-light-7: #f5df85;
  $vus-color-primary-light-8: #f8e7a5;
  $vus-color-primary-light-9: #fdf4cd;
  $vus-color-primary-dark-2: #af8e09;

  /**
   * @description: 左则 sidebar 菜单
   * @Date: 2022-08-09 11:48:25
   */
  // 一级菜单
  --vus-admin-sidebar-bg-img: url('https://cdn.vusui.com/image/admin/sidebar-bg-autumn.jpg');
  --vus-admin-sidebar-bg-color: #d5ae00;
  --vus-admin-sidebar-menu-bg-color: transparent;
  --vus-admin-sidebar-menu-hover-color: #{$vus-color-black--008};
  --vus-admin-sidebar-menu-text-color: #{$vus-color-white--08};
  --vus-admin-sidebar-menu-text-active-color: #fff000;
  // 子菜单
  --vus-admin-sidebar-sub-menu-bg-color: #{$vus-color-black--009}; // 子菜单背景颜色
  --vus-admin-sidebar-sub-menu-hover-color: #{$vus-color-black--02}; // 子级菜单item鼠标经过背景颜色

  // 标签列表item
  --vus-admin-tags-item-bg-hover-color: #{$vus-color-primary-light-9};
  --vus-admin-tags-item-bg-active-color: #{$vus-color-primary};
  --vus-admin-tags-item-border-hover-color: #{$vus-color-primary-light-7};
  --vus-admin-tags-item-border-active-color: #{$vus-color-primary};
  --vus-admin-tags-item-text-hover-color: #{$vus-color-primary};
  // 右键菜单
  --vus-admin-tags-context-menu-text-hover-color: #{$vus-color-primary};
  --vus-admin-tags-context-menu-item-hover-color: #{$vus-color-primary-light-9};

  /**
  * @description: 面包屑
  * @Date: 2022-08-10 10:27:24
  */
  --vus-admin-breadcrumb-link-hover-color: #{$vus-color-primary};

  /**
  * @description: 登录页
  * @Date: 2022-09-03 12:49:45
  */
  --vus-admin-login-bg-color: #bf9900;
  --vus-admin-login-bg-img: url('https://cdn.vusui.com/image/admin/login-bg-autumn.jpg');
  --vus-admin-login-form-padding: 0.3125rem 1.25rem;
  --vus-admin-login-form-bg-color: #{$vus-color-black--04};
  --vus-admin-login-form-box-shadow: 0 0 20px #{$vus-color-white--03};
  --vus-admin-login-input-text-color: #{$vus-color-white--08};
  --vus-admin-login-input-bg-color: #{$vus-color-black--02}; // 登录页输入框背景颜色
  --vus-admin-login-input-border-color: #{$vus-color-white--04}; // 登录页输入框边框颜色
  --vus-admin-login-input-hover-border-color: #{$vus-color-white--04}; // 登录页输入框边框hover颜色
  --vus-admin-login-input-prefix-color: #{$vus-color-white--08};
  --vus-admin-login-input-suffix-color: #{$vus-color-white--08};

  /**
  * @description: element-plus
  * @Date: 2022-08-30 14:11:40
  * @return {*}
  */
  --el-color-primary: #{$vus-color-primary};
  --el-color-primary-light-3: #{$vus-color-primary-light-3};
  --el-color-primary-light-5: #{$vus-color-primary-light-5};
  --el-color-primary-light-7: #{$vus-color-primary-light-7};
  --el-color-primary-light-8: #{$vus-color-primary-light-8};
  --el-color-primary-light-9: #{$vus-color-primary-light-9};
  --el-color-primary-dark-2: #{$vus-color-primary-dark-2};
}
