/*
 * @Description: 冬季主题(梅花)
 * @Author: linpan(45650368@qq.com)
 * @Date: 2022-09-02 23:18:54
 * @LastEditors: vusui 45650368@qq.com
 * @LastEditTime: 2022-09-03 13:45:29
 * @WebSite: https://vusui.com
 * @Copyright: 2017-present The Vusui Authors
 * @Readme: 开源不易，且用且珍惜！
 */
@use '../variable' as *;

// 需要加上html为前缀，否则不生效
html.winter {
  color-scheme: winter;

  $vus-color-primary: #6c85a0;
  $vus-color-primary-light-3: lighten($vus-color-primary, 11.2%);
  $vus-color-primary-light-5: lighten($vus-color-primary, 18.9%);
  $vus-color-primary-light-7: lighten($vus-color-primary, 26.2%);
  $vus-color-primary-light-8: lighten($vus-color-primary, 30%);
  $vus-color-primary-light-9: lighten($vus-color-primary, 33.7%);
  $vus-color-primary-dark-2: darken($vus-color-primary, 2%);

  /**
   * @description: 左则 sidebar 菜单
   * @Date: 2022-08-09 11:48:25
   */
  // 一级菜单
  --vus-admin-sidebar-bg-img: url('https://cdn.vusui.com/image/admin/sidebar-bg-winter.jpg');
  --vus-admin-sidebar-bg-color: #b6cadf;
  --vus-admin-sidebar-menu-bg-color: transparent;
  --vus-admin-sidebar-menu-hover-color: #{$vus-color-black--008};
  --vus-admin-sidebar-menu-text-color: #{$vus-color-black--07};
  --vus-admin-sidebar-menu-text-active-color: #3d7dc2;
  // 子菜单
  --vus-admin-sidebar-sub-menu-bg-color: #{$vus-color-black--007}; // 子菜单背景颜色
  --vus-admin-sidebar-sub-menu-hover-color: #{$vus-color-black--01}; // 子级菜单item鼠标经过背景颜色
  --vus-admin-sidebar-sub-menu-text-active-color: #{$vus-color-black--09}; // 子级菜单激活时其父级的文本颜色
  --vus-admin-sidebar-sub-menu-bg-active-color: #{$vus-color-black--008}; // 子级菜单激活时其父级的背景颜色
  --vus-admin-sidebar-logo-text-color: #{$vus-color-black--04}; // LOGO标题文本颜色

  // 标签列表item
  --vus-admin-tags-item-bg-hover-color: #{$vus-color-primary-light-9};
  --vus-admin-tags-item-bg-active-color: #{$vus-color-primary};
  --vus-admin-tags-item-border-hover-color: #{$vus-color-primary-light-7};
  --vus-admin-tags-item-border-active-color: #{$vus-color-primary};
  --vus-admin-tags-item-text-hover-color: #{$vus-color-primary};
  // 右键菜单
  --vus-admin-tags-context-menu-text-hover-color: #{$vus-color-primary};
  --vus-admin-tags-context-menu-item-hover-color: #{$vus-color-primary-light-9};

  /**
  * @description: 面包屑
  * @Date: 2022-08-10 10:27:24
  */
  --vus-admin-breadcrumb-link-hover-color: #{$vus-color-primary};

  /**
  * @description: 登录页
  * @Date: 2022-09-03 12:49:45
  */
  --vus-admin-login-bg-color: #b6cadf;
  --vus-admin-login-bg-img: url('https://cdn.vusui.com/image/admin/login-bg-winter.jpg');
  --vus-admin-login-wrapper-max-width: 22.5rem;
  --vus-admin-login-form-padding: 0.3125rem 1.25rem;
  --vus-admin-login-form-bg-color: #{$vus-color-black--04};
  --vus-admin-login-input-bg-color: #{$vus-color-black--02}; // 登录页输入框背景颜色
  --vus-admin-login-input-border-color: #{$vus-color-white--03}; // 登录页输入框边框颜色
  --vus-admin-login-input-hover-border-color: #{$vus-color-white--04}; // 登录页输入框边框hover颜色
  --vus-admin-login-input-text-color: #{$vus-color-white--08};
  --vus-admin-login-input-prefix-color: #{$vus-color-white--08};
  --vus-admin-login-input-suffix-color: #{$vus-color-white--08};

  /**
  * @description: element-plus
  * @Date: 2022-08-30 14:11:40
  * @return {*}
  */
  --el-color-primary: #{$vus-color-primary};
  --el-color-primary-light-3: #{$vus-color-primary-light-3};
  --el-color-primary-light-5: #{$vus-color-primary-light-5};
  --el-color-primary-light-7: #{$vus-color-primary-light-7};
  --el-color-primary-light-8: #{$vus-color-primary-light-8};
  --el-color-primary-light-9: #{$vus-color-primary-light-9};
  --el-color-primary-dark-2: #{$vus-color-primary-dark-2};
}
